@use '../../styles/variables' as var;

#valida-cep {
  display: flex;
  flex-direction: column;

  // Cor de fundo sólida como fallback (segurança)
  background-color: var.$primary-bg; 

  // O gradiente radial que cria o efeito
  background-image: radial-gradient(circle at center, #212529, var.$primary-bg);

  // Garante que o fundo cubra a tela inteira e não se repita
  background-repeat: no-repeat;
  min-height: 100vh;

  h1 {
    color: #fff;
  }

  p {
    color: #494949;
  }

  label {
    text-transform: uppercase;
  }

  form {
    box-sizing: content-box;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    background-color: var.$text-muted;
    padding: 2rem 3rem;
    border-radius: 1rem;
  }
}